includes/configuration.php
/nbproject/private/
Thumbs.db
thumbs.dbincludes/css/sansation_bold.woff
includes/css/sansation_light.woff
arquivos/anais2012.zip
arquivos/artigos2012.zip
noticias
includes/css/fonts.css
includes/css/sansation_bold.woff
includes/css/sansation_light.woff
templates/Default/db/submissao/submissao.nodb
templates/1SemCiTec/db/submissao/submissao.nodb
templates/2SemCiTec/db/submissao/submissao.nodb
templates/3SemCiTec/db/submissao/submissao.nodb