html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

#divCracha{
    /*border: #184A56 outset 3px;    */
    width: 7.3cm;
    height: 4.8cm;
    padding: 0.25cm;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word; 

}

#divCracha #divTitulo{
    text-align: center;
    font-weight: bolder;
    width: auto;     
    padding-bottom: 1%;
    border: #C7C7C7 groove  thick;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;  
}

#divCracha #divNome{    
    width: auto;
    height: 28%;
    text-shadow: 2px;
    word-wrap: break-word; 
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top: 1%;  
    font-size: 18px;
    text-align: center;
    vertical-align:middle;
}

#divCracha #divTipoParticipante{
    width: 100%;
    text-align: left;    
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

#divCracha #divInstituicao{
    text-align: center;    
    width: 100%;    
    padding-top: 2%;    
    padding-bottom: 2%;  
    font-size-adjust: inherit;    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

select{width: auto;}
#nome{text-transform: capitalize;width: 20%;}

.error {font: bolder italic large cursive; color: red;padding: 2px 8px;margin-top: 2px;}
:focus {background: yellow;color: #000;border: 1px solid red;}