body, #pagina {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


#pagina {
    font-family: 'Roboto', sans-serif;
    border: 1px #fff solid;
    background: url('../imgs/certificado-bg.png') no-repeat;
    background-position: center;
    text-align: left;
    width: 25.5cm;
    height: 17cm;
}


#instrucoes {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px #000000 solid;
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


#instrucoes #link {
    font-family: 'Roboto', sans-serif;
    color: blue;
    cursor: pointer;
    margin-top: 0px;
    word-spacing: 3px;
    letter-spacing: 2px;
}


#instrucoes #link:hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}


#instrucoes .esquerda {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-right: 1px #000000 solid;
    width: 49.5%;
    height: auto;
    float: left;
    display: inline-block;
}


#instrucoes .direita {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 5px;
    width: 49.5%;
    height: auto;
    display: inline-block;
}


#texto {
    font-family: 'Roboto', sans-serif;
    /*border: 1px #00ff00 solid;*/
    margin: 90px 0 0 90px;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    /*letter-spacing: 2px;*/
    width: 780px;
    height: 190px;
}
