body, body * {
    background: none;
}

#banner, #login, #menu, #subMenu, #rodape, #relatorios, .noprint {
    display: none;
}

#conteudo {
    margin-left: 0px;
}

table {
    border: 1px #000000 solid;
    empty-cells: show;
    width: 900px;
    font-size: 14px;
    margin: 0 auto 0 auto;
}

td, th {
    border-bottom: 1px #000000 solid;
    padding: 5px 10px;
}
