.noshow {
    display: none;
}

table {
    border: 1px #000000 solid;
    empty-cells: show;
    width: 700px;
    font-size: 14px;
}

table tr:hover {
    background-color: #d5d5d5;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

hr {
    border: 1px #000000 dotted ;
    margin: 20px 0px;
}

td, th {
    border-bottom: 1px #000000 solid;
    padding: 5px;
}

#relatorios {
    border: 1px #9f9f9f solid;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    width: auto;
}
