/* 
    Document   : site
    Created on : 07/06/2013, 14:53:36
    Author     : gu070439
    Description:
        Purpose of the stylesheet follows.
*/

*.naoselecionavel { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*.sombratripla{
    text-shadow: 0.2em 0.5em 0.1em #600,
        -0.3em 0.1em 0.1em #060,
        0.4em -0.3em 0.1em #006
}

*.sombra{
    text-shadow: 0.1em 0.1em 0.2em black
}

*.sombradiv{
    box-shadow: 0.4em 0.4em 0.8em black
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#000000;
    font-weight: bold;
    cursor: default;
}